HELP.md

notes.txt

# Maven
target/
#.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/out/
/bin/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# Databases
*.db
*.mv.db
*.trace.db

# OS junk
.DS_Store
Thumbs.db

# Env
.env
